.wrapper {
    margin: 0px 30px;
    width: 27%;
    box-shadow: 10px 5px 60px 5px #000000c4;
	transition: all 0.3s ease-in-out;
}

.wrapper:after {
    letter-spacing: 10px;
	transition: all 0.3s cubic-bezier(.55, 0, .1, 1) ease-in-out;
}

.feedback {
    background-color: blue;
}