.tabbar {
    margin: 30px;
    height: fit-content;
    overflow: hidden;
}

.vertical {
    position: relative;
    display: block;
    float: left;
    z-index: 100;
    overflow: hidden;
}

.vertical-item {
    display: block;
}

.tabs {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
}

.tabs-dark {

}
.tabs-light {

}
.tabcontent {
    min-width: 70vw;
    min-height: 30vh;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    position: relative;
}
.tabcontent-dark {
    color: yellow;
    background-color: black;
}
.tabcontent-light {
    color: #3f3a3a;
    background-color: blue;
}
.selected-light{
    color: white;
    background-color: blue;
    font-size: 14px;
}
.selected-dark{
    color: yellow;
    background-color: black;
    font-size: 14px;
}