.tabs {
    padding: 10px;
}
.tabs-dark {

}
.tabs-light {

}
.tabcontent {
    max-width: 80%;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color: blue;
}
.tabcontent-dark {

}
.tabcontent-light {

}
.selected {
    background-color: blue;
}