.wrapper {
    width: 25%;
    height: 5vw;
    /* background: linear-gradient(135deg,#01ffdd 0%,#01ff95 100%); */
    border-radius: 25px;
    position: relative;
    text-transform: uppercase;
    margin: 30px;
    padding: 1%;
    z-index:0;
    position: relative;
    display: table;
}

.picker {
    display: table-cell;
    vertical-align: middle;
    background-color:white;
    color: #049e8498;
    overflow:hidden;
    border: 4px solid #01e1ff;
    border-radius: 20px;
    z-index:10;
    padding: 3%;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 6px;
    text-shadow: 1px 1px 5px #00ff887a;
    transition: .5s;
    border-color: #01ff95;
    box-shadow: 1px 1px 20px #01ff95, 1px 1px 40px #01ffdd;
    outline: 0 none;
}

.picker:hover {
    color: #02e2ff;
}

.icon {
    float: right;
    font-size: 30px;
    font-weight: bolder;
    color: #01ffdd;
    text-shadow: none;

}