.progressbar {
    width: 70%;
    height: 4vh;
    background-color: #c7c2c2a9;
    overflow: hidden;
    border-radius: 10px;
    border-color: #31383556;
    box-shadow: 1px 1px 20px #31383556, 1px 1px 40px #31383556;
    outline: 0 none;
    margin: 10px;
}

.progress {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #4d08085d;
    height: 100%;
}

.progress-info       { background-color: #0a7ef3b4;  }
.progress-success    { background-color: #15aa08cc; }
.progress-warning    { background-color: #ffbb00c5; }
.progress-danger     { background-color: #c00606c2; }

.striped {
    background-size: 60px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
}
.animated      { animation: animate-stripes 2s linear infinite;  }

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0px;}
}