.container {
    width: 80%;
    height: 30vw;
    margin-left: 75px;
}

.images{
    width: 90%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.spin {
    transform: rotate(1080deg);
}