.container {
    width: 800px;
    height: 800px;
    /* border: 1px solid black; */
    margin-left: 75px;
    background-repeat: no-repeat;
}

.images{
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    /* border-radius: 50%; */
    /* border: 1px solid red; */
}