body {
    background-color: #fc7a00;

    .pizzaBackground {
        background-image: url('http://www.gsfdcy.com/data/img/66/1904933-pizza-wallpaper.jpg');
        background-size: cover;
        min-height:150%;
        background-repeat: no-repeat;
        width : 100%;
        height: 100%;
        top: 0;
        left: 0; 
        z-index: -100; 
    }

    .initialPageContainer {
        margin: auto 0;
        padding: 15px;
        text-align: center;
        background: #2b0909c5;
        display: block;
        height: 100%;
        overflow: hidden;

        #greeting {
            margin: 20px;
            font-family: Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            color: white;
            margin-left: 25px;
            font-stretch: ultra-expanded;
            overflow: hidden;
        }

        #tagline {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 220px;
            text-align: center;
            font-family: Brush Script MT, Courier New, Courier, monospace;
            font-size: 30px;
            color: white;
            text-shadow: 2px 2px 4px #ff0000;
            background: black;
        }

        #logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }

        .optionBar {
            margin: 10px;
            margin-top: 40px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-family: Helvetica, sans-serif;
            font-weight: bolder;
            font-stretch: extra-expanded;
            font-size: 18px;
            color: white;
            margin-left: 25px;
            text-shadow: 3px 3px 4px #070707;
            cursor: pointer;

            .options {
                margin: 55px;
                background: #fdf90196;
                border: 2px solid black;
                padding: 10px 15px 10px 15px;
                border-radius: 20px;
                color: white;
            }
            
            .options:hover {
                color: #fc7a00;
                background: #fdf90156;
                text-shadow: 2px 2px 4px #070707;
                text-decoration: none;
            }
        }
    }

    .loaderPage {
        background: #2b0909bb;
        padding: 20px;
        height: 100%;

        #loadImage {
            margin-top: 60px;
            margin-bottom: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 17%;
            animation: Loader-spin infinite 1500ms linear;
        }

        @keyframes Loader-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        #loadingMessage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 280px;
            text-align: center;
            font-family: Brush Script MT, Courier New, Courier, monospace;
            font-size: 35px;
            color: white;
            text-shadow: 2px 2px 4px #ff0000;
            background: black;
        }
    }

    .NavigationBar {
        display: block;
        z-index: 1000;

        #navBar {
            display: inline-block;
            background: #0f1111f8;
            padding: 10px;
            width: 100%;
            height: 117px;

            #navBarLogo {
                width: 12%;
                padding-left: 10px;
                padding-right: 50px;
            }

            .navBarItem {
                margin-top: 10px;
                padding: 2px 40px 10px 2px;
                padding-right: 70px;
                font-family: Brush Script MT, Courier New, Courier, monospace;
                font-size: 30px;
                color: white;
                text-shadow: 2px 2px 4px #ff0000;
            }

            .navBarItem:hover {
                text-decoration: none;
                color: #fc7a00;
                text-shadow: 1px 1px 1px white;
            }

            .navBarItemRight {
                margin-top: 15px;
                float: right;
            }
        }
    }
    
    .menuBody,
    .offerBody,
    .aboutPageBody {
        display: block;
        padding: 40px;
        padding-top: 15px;
        background-color: #2b0909c5;
        border-radius: 1px 1px 20px 20px;
        font-family: Helvetica, sans-serif;
        color: white;
        align-content: center;
    }

    .pizzaWrapper {
        display: inline-block;
        height: 470px;
        width: 380px;
        margin-bottom: 30px;
        overflow: hidden;

        .pizzaInfo:hover {
            border: 4px solid black;
            text-decoration: none;
        }

        .pizzaInfo:hover .pizzaImg{
            opacity: 0.6;
            animation: Loader-spin infinite 10000ms linear;

        }

        @keyframes Loader-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        .pizzaInfo {
            height: 90%;
            background: white;
            padding: 5px;
            border-radius: 20px;
            border: 2px solid black;
            text-align: center;
            color: black;
            cursor: pointer;

            .pizzaImg {
                padding: 20px;
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .pizzaName {
                font-family: Brush Script MT, Courier New, Courier, monospace;
                font-size: 45px;
                color: black;
                text-shadow: 1px 1px 2px #ff0000;
                z-index: 1000;
            }
            .pizzaDescription {
                padding: 2px;
                font-family: Helvetica, sans-serif;
                font-size: 13px;
                font-style: italic;
                color: #3a3636;
                z-index: 1000;
            }
            .pizzaPrice {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 900;
                font-size: 30px;
                color: #ff5e00;
                text-shadow: 1px 1px 1px black;
            }
        }

        .pizzaOptions {
            height: 7%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 12px;
            color: black;

            .pizzaDetails {
                width: 44%;
                margin-right: 20px;
                margin-left: 0px;
                background: #435a25ce;
                padding: 5px;
                padding-right: 30px;
                float: right;
                border-radius: 0px 0px 20px 0px;
                border: 2px solid black;
                text-align: center;
                cursor: pointer;
            }

            .pizzaOrder {
                width: 44%;
                margin-left: 20px;
                margin-right: 0px;
                background: #fcc100ab;
                padding: 5px;
                padding-left: 20px;
                float: left;
                border-radius: 0px 0px 0px 20px;
                border: 2px solid black;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .whiteBackground {
        background: white;
        min-height: 150%;
    }

    .pizzaDetail {

        margin-top: -400px;
        width: 100%;
        padding: 5px;
        text-align: center;
        color: black;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-height: 1000px;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 700px;
        top: 0;
        left: 0; 
        z-index: -100; 

        .pizzaInfo {
            min-height: 100%;
            margin-top: 400px;
            margin-left: 30px;
            margin-right: 30px;

            .pizzaName{
                font-family: Brush Script MT, Courier New, Courier, monospace;
                font-size: 100px;
                color: white;
                text-shadow: 4px 4px 6px red;
            }

            .pizzaDescription{
                font-family: Helvetica, sans-serif;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: white;
                text-shadow: 1px 1px 2px black; 
            }

            .pizzaPrice{
                font-family: Helvetica, sans-serif;
                font-size: 75px;
                font-weight: 900;
                text-align: center;
                color: #fc7a00;
                padding-bottom: 30px;
                -webkit-text-stroke-width: 3px;
                -webkit-text-stroke-color: #502102;
            }

            .pizzaDontMissOut{
                font-family: Brush Script MT, Courier New, Courier, monospace;
                font-size: 25px;
                font-style: 900;
                margin: 10px;
                margin-top: -50px;
                font-weight: bold;
                color: white;
                text-shadow: 4px 4px 6px red; 
            }

            .pizzaAddToCart{
                margin-top: 500px;
                width: 200px;
                font-family: Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                padding: 10px;
                border-radius: 20px;
                background-color: #31c21e;
                border: 2px solid #a9ff9d;
                color: white;
                text-shadow: 4px 4px 6px black;
                cursor: pointer;
            }
            .pizzaAddToCart:hover{
                background-color: #179107;
                color: rgb(247, 119, 0);
            }
        }
    }

    .aboutPageBody {
        text-align: center;
        background: #2b0909c5;

        #chefs {
            width: 100%;
            border: 5px solid black;
        }

        h1 {
            font-family: Brush Script MT, Courier New, Courier, monospace;
            font-size: 70px;
            font-style: 900;
            font-weight: bold;
            color: white;
            text-shadow: 4px 4px 6px red; 
        }
        .description {
            text-align: center;
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            font-style: italic;
            color: white;
        }

        #inPizzaWeCrust {
            font-family: Brush Script MT, Courier New, Courier, monospace;
            font-size: 35px;
            font-style: 900;
            font-weight: bold;
            color: white;
            text-shadow: 4px 4px 6px red; 
        }
    }
}
