body {
    
    background-color: #fc7a00;

    .pizzaBackground {
        background-image: url('http://www.gsfdcy.com/data/img/66/1904933-pizza-wallpaper.jpg');
        background-size: cover;
        min-height:150%;
        background-repeat: no-repeat;
        overflow: hidden;
        width : 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: -100; 
    }

    .initialPageContainer {
        margin: auto 0;
        padding: 15px;
        text-align: center;
        background: #2b0909c5;
        display: block;

        #greeting {
            margin: 20px;
            font-family: Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            color: white;
            margin-left: 25px;
            font-stretch: ultra-expanded;
            overflow: hidden;
        }

        #tagline {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 220px;
            text-align: center;
            font-family: Brush Script MT, Courier New, Courier, monospace;
            font-size: 32px;
            color: white;
            text-shadow: 2px 2px 4px #ff0000;
            background: #0000009a;
        }

        #logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 22%;
        }

        .optionBar {
            margin: 10px;
            margin-top: 70px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-family: Helvetica, sans-serif;
            font-weight: bolder;
            font-stretch: extra-expanded;
            font-size: 20px;
            color: white;
            margin-left: 25px;
            text-shadow: 3px 3px 4px #070707;
            cursor: pointer;

            .options {
                margin: 55px;
                background: #fdf90196;
                border: 2px solid black;
                padding: 10px 15px 10px 15px;
                border-radius: 20px;
                color: white;
            }
            
            .options:hover {
                color: #fc7a00;
                background: #fdf90156;
                text-shadow: 2px 2px 4px #070707;
                text-decoration: none;
            }
        }
    }

    .loaderPage {
        background: #2b0909bb;
        padding: 20px;

        #loadImage {
            margin-top: 60px;
            margin-bottom: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 17%;
            animation: Loader-spin infinite 1500ms linear;
        }

        @keyframes Loader-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        #loadingMessage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            text-align: center;
            font-family: Brush Script MT, Courier New, Courier, monospace;
            font-size: 50px;
            color: white;
            text-shadow: 2px 2px 4px #ff0000;
            background: black;
        }
    }

    .NavigationBar {
        display: block;

        #navBar {
            display: inline-block;
            background: #1a2227ee;
            padding: 10px;
            width: 100%;

            #navBarLogo {
                width: 13%;
                padding-left: 20px;
                padding-right: 70px;
            }

            .navBarItem {
                margin-top: 10px;
                padding: 2px 40px 10px 2px;
                padding-right: 70px;
                font-family: Brush Script MT, Courier New, Courier, monospace;
                font-size: 30px;
                color: white;
                text-shadow: 2px 2px 4px #ff0000;
            }

            .navBarItem:hover {
                text-decoration: none;
                color: #fc7a00;
                text-shadow: 1px 1px 1px white;
            }

            .navBarItemRight {
                margin-top: 15px;
                float: right;
            }
        }
    }  
    .belowNavBarComponent {
        margin-top: 150px;
    }
    
    .aboutPageBody {
        display: block;
        margin-left: 100px;
        margin-right: 100px;
        min-height: 90%;
        min-width: 85%;
        padding: 30px;
        background-color: #1d0606cc;
        font-family: Helvetica, sans-serif;
        color: white;
    }
}
