.row{
    max-width: 1000px;
    height: 50px;
    border: 1px solid black;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    display: flex;
}