@import "variables.less";

/* DESKTOP-AIMED AND MAIN CSS */
html, body {
    height: 100%;
    margin: 0;
    background-color: @persianPink;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-areas:
        "main pilot";

    main {
        grid-area: main;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas:
            "banner"
            "navigation"
            "cities"
            "city-preview";
    }

    #primary-nav {
        grid-area: banner;
        display: grid;
        background-color: @persianPink;
        border-bottom:  8px solid @thulianPink;
        justify-content: center;
        align-content: center;
        #logo {
            width: 200px 
        }
    }

    #secondary-nav {
        grid-area: navigation;
        display: grid;
        background-color: @spanishPink;
        justify-content: center;
        align-content: center;
        padding: 10px;
        li {
            display: inline;
            font-family: "Josefin Sans", "Nanum Gothic";
            font-size: 1.5em;
            padding: @commonPadding;
            a {
                color: @white;
            }
        }
    }

    .cities {
        grid-area: cities;
        display: grid;
        grid-template-columns: repeat(3, auto);
        background-color: @white;

        li {
            display: grid;
            grid-template-columns: min-content;
            justify-items: center;
            justify-content: center;
            align-content: center;
            align-items:  center;
            border: 3px solid @thulianPink;
            padding: 10px;

            .city-img {
                align-self: center;
                width: 250px;
                height: 150px;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .text-wrapper {
                width: 40vh;
                h2 {
                    font-weight: normal;
                    font-family: "Josefin Sans", "Nanum Gothic";
                    font-size: 2em;
                    padding-top: 20px;
                }
                p { margin-top: 0; }
            }
        }
    }

    .banner-area {
        grid-area: city-preview;
        display: grid;
        justify-content: center;
        background-color: @spanishPink;
        border-bottom: 8px solid @thulianPink;

        h1 {
            font-weight: normal;
            font-size: 1.5em;
            color: white;
            text-align: center;
            padding-bottom: @commonPadding;
        }

        #banner { padding: @commonPadding;}

        .city-previews {
            display: grid;
            grid-column-gap: 100px;
            grid-template-columns: repeat(4, auto);

            li {
                height: 150px;
                width: 150px;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .pilot {
        grid-area: pilot;
        display: grid;
        grid-template-rows: min-content;
        background-color: @laurelGreen;
        height: 100%;
        border-left:  8px solid @desaturatedCyan;
        color: white;
        justify-content: center;
        justify-items: center;
        img {
            width: 150px;
            margin: @commonPadding;
        }
        p {
            font-size: 1.2em;
            text-align: center;
            padding: 0 @commonPadding;
        }
    }

    #right-aside-inside { display: none; }
}

/* TABLET-AIMED CSS */
@media screen and (max-width: 1024px) {
    body {
        grid-template-columns: auto;

        main {
            grid-template-areas:
                "banner"
                "navigation"
                "cities"
                "city-pilot";
        }
    
        #right-aside-inside { display: grid; }
        #right-aside        { display: none; }

        .cities {
            grid-area: cities;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            background-color: @white;
            padding: 0;
            li {
                grid-auto-flow: column;
                justify-content: start;
                align-content: start;
                align-items: start;

                .city-img {
                    align-self: flex-start;
                    margin: 20px;
                }

                .text-wrapper {
                    width: 100%;
                }

                &:last-child {
                    grid-column: 1 / span 2;
                    grid-template-columns: max-content;
                    align-content: center;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    padding: @commonPadding;
                    .city-img {
                        width: 400px;
                        height: 200px;
                    }
                    .text-wrapper {
                        grid-column: 1 / span 2;
                        width: 100%;
                    }
                }
            }
        }
    
        .banner-area {
            grid-area: city-pilot;
            grid-template-columns: repeat(2, 50%);
            grid-template-areas:
                "city-preview pilot";
    
            .city-previews {
                grid-area: city-preview;
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-column-gap: 50px;
                grid-row-gap: 50px;
                align-items: center;
                align-content: center;
                justify-content: center;
                justify-items: center;
    
                li {
                    height: 150px;
                    width: 150px;
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            .pilot {
                grid-area: pilot;
                border-left: none;
                padding: 0 @commonPadding;
                img { width: 50%; }
            }
        }
    }

}
/* MOBILE-AIMED CSS */
// @media screen and (max-width: 450px) {
// }