
/*  ========================================================
 
                T-427-WEPO Web Programming II
                Reykjavik University
                Assignment 7: JustGo
                Assignment Due: 06.04.2018
                Authors:
                        Darri Valgarðsson,
                        Edda Steinunn,
                        Sigurður Sturla Bjarnasson

    ======================================================== */

/*********************
* GRID LAYOUT GLÓSUR
**********************

* Grid track: dálkur eða röð between two adjacent grid lines fer eftir hvort grid sé horizontal eða vertical
* Grid cell: afmarkað af fjórum gridlínum, minnsta unit grids
* Grid area: ferhyrningslaga svæði afmarkað af fjórum gridlínum úr einni eða fleiri grid cell

* ATTRIBUTES
* display: grid | inline-grid
* grid-template-columns (raðar eftir horizontal grid track): px | % | auto | minmax(min, max) | fr | min content | max content | repeat(n, size)
* grid-template-rows (raðar eftir vertical grid track): px | % | auto | minmax(min, max) | fr | min-content | max-content | repeat(n, size)
* grid-auto-flow: row (stackast frá vinstri til hægri) | column (toppur til botns)
* grid-row-grap: px | %
* grid-column-gap: px | %
* grid-gap: (grid-row-gap) (grid-column-gap)

* ALIGNMENT:
* (GRID CONTAINER)
* justify-content: the entire grid in the inline (horizontal) direction
* align-content: the entire grid in the block (vertical direction)
* justify-items: all grid items in the inline direction (horizontal)
* align-items: all grid items in block in vertical direction
* (GRID ITEMS)
* justify-self: A grid item in the inline (horizontal) direction
* align-self: a grid item in the block (vertical) direction)

* grid-template-areas :	// 3x3 grid
*  “cell1 cell2 cell3”	// first row
*  “cell4 cell5 cell6”	// second row
*  “cell7 cell7 …”;	// third row
*
* (Cols separated by space, rows by string, … er unassigned)


* DÆMI UM CSS GRID NOTKUN
* Hægt að nefna línur nöfnum:

* grid-template-columns:
* 	[first-col-start] 	1fr	[first-col-end
* 	second-col-start]	1fr	[second-col-end
* 	third-col-start]	1fr	[third-col-end]
* grid-template-rows:
* 	[first-row-start] 	1fr	[first-row-end
* 	second-row-start]	1fr	[second-row-end]

* getum þá gert:
*  background-color: blue;
*  grid-row-start: first-row(-start);
*  grid-row-end: second-row(-end);
* og þá litast fyrstu cellurnar í hvorri röð
* EÐA (eins):
* background-color: blue;
* grid-row-start: 1;
* grid-row-end:  span 2;
* EÐA:
* background-color: blue;
* grid-row:  1 / span 2;

* grid-template-columns: repeat (1, 0.5fr 1f  1fr) // repeat pattern einu sinni hver röð
*/

@import "variables.less";

/****************************************
 *      DESKTOP-AIMED AND "MAIN" CSS
 ****************************************/
html, body {
    height: 100%;
    margin: 0;
    background-color: @persianPink;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-areas:
        "main pilot";

    main {
        grid-area: main;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas:
            "banner"
            "navigation"
            "cities"
            "city-preview";
    }

    #primary-nav {
        grid-area: banner;
        display: grid;
        background-color: @persianPink;
        border-bottom:  8px solid @thulianPink;
        justify-content: center;
        align-content: center;
        #logo {
            width: 200px 
        }
    }

    #secondary-nav {
        grid-area: navigation;
        display: grid;
        background-color: @spanishPink;
        justify-content: center;
        align-content: center;
        padding: 10px;
        li {
            display: inline;
            font-family: "Josefin Sans", "Nanum Gothic";
            font-size: 1.5em;
            padding: @commonPadding;
            a {
                color: @white;
            }
        }
    }

    .cities {
        grid-area: cities;
        display: grid;
        grid-template-columns: repeat(3, auto);
        background-color: @white;

        li {
            display: grid;
            grid-template-columns: min-content;
            justify-items: center;
            justify-content: center;
            align-content: center;
            align-items:  center;
            border: 3px solid @thulianPink;
            padding: 10px;

            .city-img {
                align-self: center;
                width: 250px;
                height: 150px;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .text-wrapper {
                width: 40vh;
                h2 {
                    font-weight: normal;
                    font-family: "Josefin Sans", "Nanum Gothic";
                    font-size: 2em;
                    padding-top: 20px;
                }
                p { margin-top: 0; }
            }
        }
    }

    .banner-area {
        grid-area: city-preview;
        display: grid;
        justify-content: center;
        background-color: @spanishPink;
        border-bottom: 8px solid @thulianPink;

        h1 {
            font-weight: normal;
            font-size: 1.5em;
            color: white;
            text-align: center;
            padding-bottom: @commonPadding;
        }

        #banner { padding: @commonPadding;}

        .city-previews {
            display: grid;
            grid-column-gap: 100px;
            grid-template-columns: repeat(4, auto);

            li {
                height: 150px;
                width: 150px;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .pilot {
        grid-area: pilot;
        display: grid;
        grid-template-rows: min-content;
        background-color: @laurelGreen;
        height: 100%;
        border-left:  8px solid @desaturatedCyan;
        color: white;
        justify-content: center;
        justify-items: center;
        img {
            width: 150px;
            margin: @commonPadding;
        }
        p {
            font-size: 1.2em;
            text-align: center;
            padding: 0 @commonPadding;
        }
    }

    #right-aside-inside { display: none; }
}

/****************************************
 *      TABLET-AIMED MEDIA QUERY
 ****************************************/
@media screen and (max-width: 1024px) and (min-width: 451px) {

    body {
        grid-template-columns: auto;

        main {
            grid-template-areas:
                "banner"
                "navigation"
                "cities"
                "city-pilot";
        }
    
        #right-aside-inside { display: grid; }
        #right-aside        { display: none; }

        .cities {
            grid-area: cities;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            background-color: @white;
            padding: 0;
            h2 { font-size: 1.5em !important;}
            p { font-size: 0.7em; }
            li {
                grid-auto-flow: column;
                justify-content: start;
                align-content: start;
                align-items: start;

                .city-img {
                    align-self: flex-start;
                    margin: 20px;
                    width: 20vw;
                    height: 15vw;
                }

                .text-wrapper {
                    width: 100%;
                }

                &:last-child {
                    grid-column: 1 / span 2;
                    grid-template-columns: max-content;
                    align-content: center;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    padding: @commonPadding;
                    .city-img {
                        width: 35vw;
                        height: 20vw;
                    }
                    .text-wrapper {
                        grid-column: 1 / span 2;
                        width: 100%;
                    }
                }
            }
        }
    
        .banner-area {
            grid-area: city-pilot;
            grid-template-columns: repeat(2, 50%);
            grid-template-areas:
                "city-preview pilot";
    
            .city-previews {
                grid-area: city-preview;
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-column-gap: 50px;
                grid-row-gap: 50px;
                align-items: center;
                align-content: center;
                justify-content: center;
                justify-items: center;
            }
            .pilot {
                grid-area: pilot;
                border-left: none;
                padding: 0 @commonPadding;
                img { width: 50%; }
            }
        }
    }
}

/****************************************
 *       MOBILE-AIMED MEDIA QUERY
 ****************************************/
@media screen and (max-width: 450px) {

    body {
        grid-template-columns: auto;

        main {
            grid-template-areas:
                "banner"
                "navigation"
                "cities"
                "city-view";
        }

        #secondary-nav {
            li {
                font-size: 1.2em;
                padding: 15px;
            }
        }
    
        #right-aside-inside { display: none; }
        #right-aside        { display: none; }

        .cities {
            background-color: @white;
            padding: 0;
            grid-template-columns: auto;

            li {
                grid-template-columns: max-content;
                h2 { font-size: 1.3em !important;}
                p { font-size: 0.3em; }

                .city-img {
                    width: 35vw;
                    height: 15vh;
                    margin: 10%;
                }   

                .text-wrapper {
                    width: 100%;
                    padding: 10%;
                }

                &:nth-child(even) {
                    grid-template-columns: max-content;
                    align-content: center;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-auto-flow: column;
                    .text-wrapper { grid-column: 1 / span 2; }
                }
                &:nth-child(odd) {
                    grid-template-columns: max-content;
                    align-content: center;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-auto-flow: column;
                    .city-img { grid-column: 1 / span 2; }
                }
             }
        }
    
        .banner-area {
            grid-area: city-view;
            grid-template-columns: auto;

            #banner { padding: @commonPadding 0px; }

            .city-previews {
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-column-gap: 2.5vh;
                align-items: center;
                align-content: center;
                justify-content: center;
                justify-items: center;

                li {
                    height: 10vh;
                    width: 10vh;
                    border-radius: 100%;
                }
            }
        }
    }
}
