* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:50}

.carousel {
  position: relative;
  display: block;
}

.carousel-small {
  height: 220px;
  width: 400px;
}

.carousel-medium {
  height: 420px;
  width: 800px;
}

.carousel-large {
  height: 620px;
  width: 1200px;
}

.image-small {
  height: 200px;
  width: 400px;
}

.image-medium {
  height: 400px;
  width: 800px;
}

.image-large {
  height: 600px;
  width: 1200px;
}

.arrow{
  color: rgba(255, 255, 255, 0.726);
  position: absolute;
  vertical-align: middle;
  top:0;
  bottom: 0;
  margin: auto;
  margin-right: 10px;
  height: 30%;
}

.arrow:hover{
  color: rgba(255, 255, 255, 0.322);

}


.arrow-left{
  left: 0;
  margin-left: 10px;
}

.arrow-right{
  right: 0;
  margin-right: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  border: 2px solid rgb(70, 70, 70);
  background-color: transparent;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}
.selectedDot {
  background-color: rgb(70, 70, 70);
}

.dot:hover {
  background-color: #717171;
}

.dots{
  text-align: center;
  margin-top: 20px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  overflow: hidden;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
