.tabLabel {
	color: #9e9e9e;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 14px;
    top: 0;
}

.tabWrapper {
    padding: 10px;
    background-color: blue;
}

.input {
    display: none;
}

.input:hover ~ .tabWrapper {
	opacity: 0.8;
}

.input:not(checked) ~ .content {
	display: none;
}

.input:checked ~ .content {
	display: block;
}