.container {
	transition: 2s;
    perspective: 1000px;
    background-image: url("http://ak0.picdn.net/shutterstock/videos/22045090/thumb/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    min-height: 250px;
    display: flex;
    background-color: white;
    padding: 20px 0px;
    border: 1px solid #1b1b1b;
    box-shadow: 5px 5px 20px 2px #1b1b1b;
    border-radius: 20px;
}
.container:hover {
	transition: 2s;
	width: 42%;
}

.wrapper {
    margin: 5px;
    padding: 20px;
    display: flex;
    width: 100%;
}

.profilepic {
    opacity: 0.9;
    border-radius: 100px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    overflow: hidden;
    width: 250px;
    height: 170px;
}

.info {
    margin-left: 5%;
    font-family: Helvetica, sans-serif
}

.info .name {
    color: #ffffffb2;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.info .email,
.info .telephone {
    margin-bottom: 15px;
    color: #ffffff81;
}

.info .email .icon {
    padding: 5px;
    margin-right: 20px;
    background-color: #00ffaa;
    color: white;
}

.info .telephone .icon {
    padding: 5px;
    margin-right: 20px;
    background-color: #ff9900;
    color: white;
}